@import 'node_modules/primeflex/src/variables';
@import 'node_modules/primeflex/src/spacing';

:host {
  ::ng-deep {
    .p-timeline-event {
      transition: all 0.6s;
    }

    .p-timeline-event:hover {
      transform: scale(1.7);
    }

    .p-timeline.p-component.p-timeline-vertical {
      width: 80px;

      &.p-timeline-left {
        position: relative;
        left: -30px;
      }
    }
  }
}
