:host {
  width: 100%;

  ::ng-deep {
    .navbar-brand {
      height: 40px;
      color: #9d9d9d;
    }

    .navbar-header {
      width: 100%;

      #nav {
        background-color: rgba(255, 255, 255, 0.6);
        margin: 0 auto;
        border-radius: 5px;
        border: 1px solid #fff;
        -webkit-border-radius: 5px;
        max-width: 1200px;
        z-index: 330;
        animation: zoomIn 1.5s;
      }
    }
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
